.one{
    color: green;
    margin-left: 60px;
    font-size: 60px;
}
body{
    background-color: black;
}
div.button{
    background-color: skyblue;
    width: 150px;
    margin: 50px;
    padding: 60px;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;

}
div.button:hover{
    transform: translate(-10px -10px);
    box-shadow: 25px 25px 25px grey;
    transition: 0.5s;
}
div.button:active{transform: translate(-5px -10px);
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s;
}
.two{
    color: red;
    font-weight: 900;
}
div.three{
    background-color: hotpink;
    
}
